:root{
    /* background */
    --bg-color: #f7f6ec;
    --navy: navy;
    --sky: #c8ebf8;
    --sklight: #d9f4ff;
    --active: #ff0040;
    /* display */
    --d-block: block;
    --d-flex: flex;
    --d-none: none;
    /* font-family */
    --verdana: verdana;
}
body{
    margin: 0;
    padding: 0 0;
    height: 110vh;
    background: var(--bg-color);
    
}
*{
    outline: none;
    list-style: none;
    text-decoration: none;
}
/*-----------------------------------
|| nav style
-------------------------------------
*/
nav{
    top: 0;
    height: 10vh;
    padding: 0 10px;
    margin: 0 0 8vh 0;
    color: var(--navy);
    align-items: center;
    display: var(--d-flex);
    background: var(--sky);
    justify-content: space-between;
    border-bottom: 3px solid var(--navy);
}

nav .sdb .sdb-btn{
    width: 4vh;
    height: 4vh;
    display: var(--d-block);
}

nav .sdb .sdb-btn .icon{
    cursor: pointer;
    font-size: 1.7rem;
} 

nav .sdb .sdb-btn #closeSdb{
    left: 21px;
    font-size: 1.8rem;
    position: absolute;
    display:  var(--d-none);
}

nav .sdb .sdb-btn .icon:active{color: #ff0040;}

nav .sdb .sdb-content{
    left: 0;
    top: 12vh;
    width: 15vw;
    height: 55vh;
    position: absolute;
    background: var(--navy);
    display: var(--d-none);
    animation: animateSdb 1s linear;
}

@keyframes animateSdb{
    0%{
        opacity: 0;
        left: -1000px;
    }
    50%{
        opacity: 0.5;
        left: -100px;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}

nav .sdb .sdb-content li{
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

nav .sdb .sdb-content li a{
    color: #fff;
    font-size: 1.3rem;
}

nav .brand h3{
    font-size: 1.3rem;
    font-family: var(--verdana);
    text-shadow: 1px 0px var(--active);
}

nav .register{
    height: 4vh;
    width: 25vh;
    cursor: pointer;
    border-radius: 14px;
    align-items: center;
    display: var(--d-flex);
    background: var(--sklight);
    border: 2px solid var(--sklight);
}

nav .registe:hover{
    background: var(--bg-color);
}

nav .register .fa-user{
    margin: 0;
    padding: 7px 7px;
    font-size: 0.7rem;
    border-radius: 50px;
    background: #f0f0f0;
}

nav .register small{
    width: 26vh;
    margin-left: 3px;
    font-size: 1rem;
    font-weight: 600;
}

/*-----------------------------------
|| footer style
-------------------------------------
*/
footer{
    bottom: 0;
    margin: 0 0 -65px 0;
    width: 100%;
    height: 10vh;
    padding: 0;
    position: absolute;
    align-items: center;
    background: #f1f1f1;
    display: var(--d-flex);
    justify-content: space-between;
}

footer .left,footer .right{
    margin: 0 15px;
}