@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: "Lato", serif;

}


/*-----------------------
|| login page
-------------------------
*/
.header{

    background: #ebebeb;
}

.card{
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(161, 161, 161, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

#message{
    display: none;
    animation: message 0.87s linear;
}

@keyframes message{
    0%{
        opacity: 0;
        margin-top: -3px;

    }50%{
        opacity: 0.5;
        margin-top: -1px;
    }100%{
        opacity: 1;
        margin-top: 0;
    }
}

#subumit-btn{
    background-color: #0329ff;
}

footer{
    bottom: 0;
    width: 100%;
    position: absolute;
}

/*-----------------------
|| register page
-------------------------
*/